<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer__description">
        <div class="footer__center">
          <h3 class="font-bold footer__name">ICOACH.</h3>
          <p class="text">Продюсерский центр для тренеров, коучей и&nbsp;экспертов.</p>
        </div>
        <div class="footer__create">Упакуем продукт и&nbsp;создадим стабильный и&nbsp;управляемый поток целевых клиентов, пока вы&nbsp;будете заниматься другими делами.</div>
      </div>
      <div class="footer__right">
        <ul class="footer-menu">
          <li><a href="{{ site.baseurl }}/">{{ site.pages.main }}</a></li>
          <li><a href="{{ site.baseurl }}/reviews/">{{ site.pages.reviews }}</a></li>
          <li><a href="{{ site.baseurl }}/shop/">{{ site.pages.shop }}</a></li>
        </ul>
        <div class="footer__contacts">
          <div class="font-bold footer__contacts-title">{{ site.global.customerservice }}</div>
          <div class="red footer__contacts-mail">mail@icoach.ge</div>
          <a href="tel:+74991124733">+7&nbsp;499&nbsp;112 47 33</a>
          <a href="tel:+442080892847">+44&nbsp;20&nbsp;8089&nbsp;2847</a>
          <div class="rights rights-desktop">Все права защищены.</div>
        </div>
      </div>
      <div class="rights rights-mobile">Все права защищены.</div>
    </div>
  </div>
</footer>
