{% if include.upfront %}
  {% assign title="Внести частичную предоплату $" | append: include.upfront %}
  {% include paybutton.html id=include.id name=include.name amount=include.upfront title=title %}
{% elsif include.amount %}
  {% include paybutton.html id=include.id name=include.name amount=include.amount title=include.title %}
{% else %}
  <div class="row">
    <div class="col">
      {% if include.t %}
        {% assign t = include.t %}
      {% else %}
        {% assign t = include.p | times: 1.5 | floor %}
      {% endif %}
      <p>Полная цена ${{ t }}</p>
      {% assign id = include.id | append: '-turnkey' %}
      {% assign name = include.name | append: ' под ключ' %}
      {% include paybutton.html id=id name=name amount=t %}
    </div>
    <div class="col">
      <p>Для партнёров iCoach ${{ include.p }}</p>
      {% assign id = include.id | append: '-partner' %}
      {% assign name = include.name | append: ' для партнёра' %}
      {% include paybutton.html id=id name=name amount=include.p upfront=include.upfront %}
    </div>
  </div>
{% endif %}
