---
layout: base
---

<style type="text/css">
.page-content h1, .page-content h2, .page-content h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}  
</style>

<div class="section bg-brown">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="title-w-circle circle-brown color-white"><span>{{ page.title }}</span></h1>
        {% if page.lead %}
          <p class="color-white">{{ page.lead }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="block py-5 page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ content }}
      </div>
    </div>
  </div>
</div>