---
layout: base
---

<style type="text/css">
.page-content h1, .page-content h2, .page-content h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}  
</style>

<div class="block b-odd py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>
          {{ page.title }}
        </h1>
        {% if page.lead %}
        <p class="lead">{{ page.lead }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="block py-5 page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ content }}
      </div>
    </div>
  </div>
</div>